<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form method="POST" action="/register">
        <div>
          <label for="name">Name</label>
          <input type="text" placeholder="enter Name" name="name" required />
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" placeholder="enter email" name="email" required />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" placeholder="enter Password" name="password" required />
        </div>

        <div>
          <button type="submit">register</button>
        </div>
      </form>
    </div>
  </body>
</html>
