    .pic{
    float:left;
    width:30%;
    height:100%;
    margin:2%;
    }
    form{
    float:right;
    padding:6%;
    width:20%;
    height:20%;
    }
    header{
    background-color:blue;
    height:20vh;
    width:100vw;
    padding:3vw;
    }
    .nav{
    display:inline-block;
    background-color:yellow;
    width:100%;
    padding-left:50%;
    }
    p{
    display:inline-block;

    }
    .head{
    height:80%;
    width:100%;
    display:inline-block;
    }